  <%= form_with model: @food, local: true, method: :post, url: '/food' do |form| %>
    <div class="field">
      <%= form.label :name, "Food Name" %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :meeasurment_unit, "Measurement Unit" %>
      <%= form.text_field :meeasurment_unit %>
    </div>
    <div class="field">
      <%= form.label :price, "Unit Price" %>
      <%= form.text_field :price %>
    </div>
    <div class="field">
      <%= form.label :quatity, "Quantity " %>
      <%= form.text_field :quantity %>
    </div>
    <div class="actions">
      <%= form.submit "Add Food" %>
    </div>


  <% end %>
